<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hackjoe.sparrowalbum">

    <application>
        <activity android:name=".CropImageActivity"></activity>
        <activity android:name=".PreviewVideoActivity" />
        <activity android:name=".PreviewImageActivity" />
    </application>

</manifest>